.similar-items-container {
  width: 90vw;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.similar-item-container {
  width: 27vw;

  background-color: #F7ECEC;
  border: 3px solid #D091C9;
  border-radius: 12px;
  padding: 0px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.similar-item-image {
  border-radius: 12px;
  width: 22vw;
  height: 22vw;
  object-fit: cover;
  object-position: 50% 55%;
  margin: 20px 10px;
}