.product {
  background: #F7ECEC;
  width: 80vw;
  height: 90vw;
  padding: 10px;
  margin: 10px 0px; 
  border: 3px solid #D091C9;
  border-radius: 12px;
  color: rgb(88, 43, 86);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.product-image-container {
  background: white;
  width: calc(100% - 20px);
  height: calc(100% - 75px);
  border-radius: 20px;
  margin-bottom: 10px;
}

.product-image {
  object-fit: scale-down;
  border-radius: 20px;

  width: 100%;
  height: 100%;
  padding-top: 2px;

}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* @media only screen and (max-width: 750px) {

  .product {
    background: #F7ECEC;
    border: 3px solid #D091C9;
    border-radius: 12px;
    color: rgb(88, 43, 86);
    width: 40vw;
    min-height: 30vh;
    margin: 10px 5px; 
    padding: 10px;
    text-decoration: none;
  
    display: flex;
    flex-direction: column;
  }
  
  .product-image-container {
    background: white;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  
  .product-image {
    object-fit: scale-down;
    border-radius: 20px;
  
    width: 100%;
    padding-top: 2px;
  
  }

  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35vw;
  }

} */

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .product {
    width: 25vw;
    height: 30vw;
    padding: 10px;
    margin: 10px;
  }

  .product-image-container {
    margin-bottom: 5px;
  }

  .product-name {
    width: 18vw;
  }

  .product-image {
    height: 15vw;
  }
}

@media only screen and (min-width: 1024px) {
  .product {
    width: 20vw;
    height: 25vw;
    margin: 15px;
  }
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1600px) {
}