.product-detail {
    display: inline-block;
    
    padding: 100px;
    padding-top: 80px;
}

.detail {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.name {
    font-size: 64px;
    letter-spacing: 1px;
    padding: 5px;
}

.price {
    font-size: 28px;
}

.description {
    padding: 10px;
    letter-spacing: .9px;
}

.product-detail-image {
    width: 500px;
    padding: 0 40px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.edit-button, .delete-button {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    width: 20%;
    border-radius: 50px;
    align-self: center;
    margin-top: 40px;
    background-color: pink;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
}

.edit-link {
    color: white;
}

@media (max-width: 1024px) {
    .name {
        font-size: 32px;
    }
    .product-detail-image {
        max-width: 200px;
        margin-top: -100px;
        padding: 10px;
    }
    .product-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .product-detail-image {
        width: 300px;
        margin: 15px;
        padding: 10px;
    }
    .product-detail {
        padding: 0px;
        padding-top: 120px;
        /* margin: 0px; */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    .button-container {
        /* display: flex;
        justify-content: space-evenly;
        padding-top: 0px; */
        padding: 20px;
        padding-bottom: 80px;
    }
    .edit-button, .delete-button {
        width: 40%;
    }
}