.sort {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.select {
  padding: 8px 12px;
}
.option {
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.select-wrapper {
  position: relative;
  background-color: aliceblue;
  background-color: transparent;
}

.select-wrapper:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 24px;
  size: 2x;
  position: absolute;
  top: 7px;
  right: 20px;
  color: black;
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

.sort {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 20vw;
  max-width: 250px;
  height: 30px;
  padding: 5px 2px;
  border: 2px solid rgba(230, 167, 205);
  border-radius: 90px;
  background-color: white;
  color: #E67CDA;
  text-indent: 10px;
  vertical-align: middle;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sort-container {
  margin: 0 auto;
  width: 86vw;
  display: flex;
  justify-content: flex-end;

  color: #E67CDA;
  
}
