.sort {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.select {
  padding: 8px 12px;
}
.option {
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.select-wrapper {
  position: relative;
  background-color: aliceblue;
  background-color: transparent;
}

.select-wrapper:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 24px;
  size: 2x;
  position: absolute;
  top: 7px;
  right: 20px;
  color: black;
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

.sort {
  text-indent: 10px;
  color: black;
  border: thin solid rgba(2, 2, 2, 0.25);
  border-width: thin;
  border-radius: 90px;
  width: 170px;
  height: 40px;
  background-color: white;
  height: 30px;
  background: #ffffff;
}

.sort-container {
  margin: 0 auto;
  width: 86vw;
  display: flex;
  justify-content: flex-end;
}
