footer {
  width: 100%;
  display: flex;

}

.footer-div {
  width: 100%;
  height: 150px;
  background-color: #90658BA0;

  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.contact-info-mobile {
  display: none;
}


.copyright, .contact-info {
  color:white;
}

.contact-info-desktop {
  color: white;
  max-width: 30vw;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  
  font-size: 10px;

  flex-direction:column;
}


.footer-logo {
  position: absolute;
  bottom:0;
  right:0;
  max-height: 75px;
}

@media only screen and (max-width: 750px) {
  .footer-div {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    background-color: #90658BA0;
    padding: 10px;
  
    font-size: 12px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -1px 10px 0px lightgray;
  
  }

  .contact-info-desktop {
    display: none;
  }

  .copyright, .contact-info {
    color: white;
    font-size: 10px;
  }


  .contact-info-mobile {
    color: white;
    max-width: 100vw;
    width: 90vw;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction:column;
    
    font-size: 18px;
  
    
  }

  .footer-logo {
    position: relative;
    bottom: 0;
    max-height: 25px;

  }


}




