footer{
  width: 100%;
  flex:5;
}

.footer-div {
  display: flex;
  padding: 20px;
  flex-direction: row;
  width: 100%;
  background-color: rgb(175, 136, 181);
  justify-content:space-around;
  align-items: center;
}

p{
  color:white;
}
.bottom-logo {
  position: absolute;
  bottom:0;
  right:0;
}
.site-name{
flex: 1;
text-align: center;
font-size: 40px;
letter-spacing: -3px;
}


.contact {
  flex: 3;
  max-width: 30vw;
  align-items: center;
  font-size: 10px;
  display: flex;
  flex-direction:column;
  position:relative;
  
}





