.valid {
  border: none;
  margin: 5px;
}

.invalid {
  border: 2px solid red;
  margin: 1px 5px;
}

.edit-products-modual-container {

  position: relative;
  top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  min-height: 100vh;
  width: 100vw;
  /* margin-bottom: 75px; */
}

.edit-modual-header {

  width: 100vw;
  height: 75px;
  padding: 0px 20px;
  /* padding-top: 0px; */
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 9;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.edit-product-title {

  font-family: Roboto;
  font-size: 32px;
  color: #9A7395;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 300;

}

.edit-product-container {

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 10px;
}

.product-images-container-edit {
  
  /* // Visual Properties: */
  width: 90vw;
 
  /* // Container Properties: */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 
 }

.primary-product-image-edit-container {

  background-color: #F7ECEC;
  width: 50vw;
  height: 50vw;
  padding: 10px;

  border: 3px solid #D091C9;
  border-radius: 12px;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.primary-product-image-preview-edit {

  width: calc(50vw - 40px);
  height: calc(50vw - 40px);
  object-fit: cover;
  object-position: 50% 55%;
  border-radius: 12px;

}

.alternate-product-images-container-edit {
  
  width: 20vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.product-image-preview-edit {

  width: calc(50vw / 4);
  height: calc(50vw / 4);

  object-fit: contain;
 
  border: 2px solid #D091C9;
  border-radius: 10px;
  /* margin: 20px 10px; */
  margin: 10px 0px;
  padding: 5px 0px;

  cursor: pointer;

}

.edit-product-info-form {
  
  width: 90vw;
  padding: 0px;
  margin: 20px 20px 0px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.edit-info-title {

  color: #9A7395;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 300;

  width: 100%;
  margin: 0px 0px 25px 0px;

}

.edit-images-title {

  font-size: 18px;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 300;
  color: rgb(154, 115, 149);

  width: 100%;
  margin: 25px 0px;

}

.button-container {
  
  width:80vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;

}

.edit-submit-buttons {

  background: #DB93D3;
  width: 50vw;
  height: 35px;
  border-radius: 15px;
  margin: 10px;

  color: #FFFFFF;
  font-family: Source Sans Pro;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.75px;
  border: none;

  cursor: pointer;

}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  .edit-modual-header {

    height: 125px;
  
  }

  .edit-product-container {

    flex-direction: row;
  
  }

  .product-images-container-edit {

    width: 45vw;
  
    flex-direction: column;
    justify-content: flex-start;
  
  }

  .primary-product-image-edit-container {
    height: 40vw;
    width: 40vw;
  }

  .primary-product-image-preview-edit {
    height: calc(40vw - 40px);
    width: calc(40vw - 40px);
  }

  .alternate-product-images-container-edit {

    width: 40vw;
    flex-direction: row;
    justify-content: space-between;
  
  }

  .product-image-preview-edit {

    height: 12vw;
    width: 12vw;
    margin: 20px 0px;
  
  }

  .edit-product-info-form {

    width: 45vw;
    padding: 20px 10px;
    
  }

  .button-container {

    width: 45vw;
    flex-direction: row;
  
  }

  .edit-submit-buttons {

    width: 20vw;
    margin: 50px 0px;
  
  }
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1600px) {
}