.reviews-container {

  width: 90vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.review-title {

  font-family: Roboto;
  font-size: 32px;
  color: #9A7395;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 300;
      
  width: 100%;
  margin: 20px 0px;

}

.no-reviews-message {

  font-size: 18px;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 300;

  width: 90vw;
  margin: 25px 0px;
}

.reviews-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 90vw;

}

.reviews-list {

  width: 90vw;
  text-align: left;
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.average-reviews-star-rating-container-virtual {

  width: 90vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;

}

.average-reviews-title {

  font-family: Roboto;
  font-size: 18px;
  color: #5F2758;
  font-weight: 300;

}

.star-rating-container-details{

  width: 100%;

  display: flex;
  align-content: flex-start;

}

.review-container {
  width: 90vw;                

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

.review-author-name {

  font-size: 18px;
  color: #5F2758;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 300;

  width: 90vw;
  margin: 10px 0px;

}

.review-copy {

  font-family: Source Sans Pro;
  font-size: 12px;
  color: #5F2758;
  font-weight: 500;
  text-align: left;
        
  margin: 5px 0px 25px 0px;
  padding-right: 10px;

}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

  .reviews-container {
    margin: 25px;
  }

  .reviews-content {
    width: 100%;
  }

  .reviews-list {

    width: 45vw;
  
  }

  .average-reviews-star-rating-container-virtual {
    width: 45vw;
  }

  .review-container {
    width: 45vw;                
  }

  .review-author-name {
    margin: 25px 0px;
  }
}

@media only screen and (min-width: 1024px) {

  .reviews-content {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1600px) {
}