.popular-product-container {
  background: #F7ECEC;
  width: 35vw;
  height: 35vw;
  padding: 5px;
  margin: 9px;
  border: 3px solid #D091C9;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.popular-product-image-container {
  background: white;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 8px;
}

.popular-product-image {

  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 375px) {
  .popular-product-container {
    margin: 10px;
  }
  

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
  .popular-product-container {
    margin: 20px 10px;
  }
}

@media only screen and (min-width: 1024px) {

  .popular-product-container {
    width: 13vw;
    height: 13vw;
    padding: 0.5vw;
    margin: 10px;
    border-radius: 12px;
  }

  .popular-product-image-container{
    width: calc(100% - 1vw);
    height: calc(100% - 1vw);
    border-radius: 20px;
  }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}