.primaryUploadIcon {

  min-width: 30vw;
  min-height: 30vw;
  margin: 20px 10px; 
  color: #D091C9;
  font-size: 200px;
  vertical-align: middle;
}

.miniUploadIcon {

  min-width: 10vw;
  min-height: 6vw;
  margin: 20px 10px; 
  color: #D091C9;
  font-size: 36px;
  vertical-align: middle;
  border: 2px solid #D091C9;
  border-radius: 12px;
  padding: 0px 0px 5px 0px;
}

.valid {
  border: none;
  margin: 5px;
}


.invalid {
  border: 2px solid red;
  margin: 1px 5px;
}