.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 100px;

}

.tagline {

  font-size: 36px;
  font-family: Roboto;
  letter-spacing: 1.25px;
  color: #B752AC;
  text-transform: uppercase;

  text-align: center;
  margin: 20px 0px;

}

.store-description {


  font-family: Source Sans Pro;
  font-size: 18px;
  letter-spacing: 0px;
  color: #BF84B9;

  text-align: center;
  margin: 25px;

}

.popular-items-title {

  font-family: Roboto;
  font-size: 24px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  text-align: left;
  color: #9A7395;
  
  margin: 50px 25px;

}

.home-products-button {

  background: #DB93D3;
  width: 150px;
  height: 35px;
  border-radius: 12px;
  margin: 50px auto;

  color: #FFFFFF;
  font-family: Source Sans Pro;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.75px;
  border: none;
  cursor: pointer;

}


@media only screen and (max-width: 750px) {
  /* .app {

  position: absolute;
  top: 0;
  left: 0;

  } */

  .home-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0px;
    width: 100vw;
  
  }

  .tagline {

    font-size: 24px;
    font-family: Roboto;
    letter-spacing: 1.25px;
    color: #B752AC;
    text-transform: uppercase;

    text-align: center;
    margin: 20px 0px;

  }

  .store-description {

    font-family: Source Sans Pro;
    font-size: 12px;
    letter-spacing: 0px;
    color: #BF84B9;

    text-align: center;
    margin: 10px 25px;

  }

  .popular-items-title {

    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 0.93px;
    text-transform: uppercase;
    text-align: left;
    color: #9A7395;
    
    margin: 10px 25px;
  
  }

  .home-products-button {

    background: #DB93D3;
    width: 150px;
    height: 35px;
    border-radius: 12px;
    margin: 50px auto;
  
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.75px;
    border: none;
    cursor: pointer;
  
  }
  


}