* {box-sizing:border-box}

.hero-carousel-buttons {
  position: relative;
  bottom: 75px;
}

/* @media only screen and (max-width: 750px) {
  .hero-carousel-buttons {

    bottom: 50px;

  }
} */

/* Hide the images by default */
.invisible {
  display: none;
}

.visible {
  display: block;
  /* height: 80vh;
  width: 100vw;
  object-fit: cover; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background: transparent;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* @media only screen and (max-width: 750px) {
  .prev .next {
    position: absolute;
    top: 12%;

  }
} */

/* The dots/bullets/indicators */
.hero-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-color: #FFFFFFC9;
}

.hero-active, .hero-dot:hover {
  background-color: #E1BADD;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 750px) {
  
  .hero-carousel {
    min-width: 100vw;

  }
  
  .hero-carousel-buttons {

    bottom: 50px;

  }

  .prev {
    position: absolute;
    top: 15%;
    left: 0%;

  }

  .next {
    position: absolute;
    top: 15%;
    right: 0%;

  }
}