.search-form {
  color: #E67CDA;
  border: 2px solid #E67CDA;
  border-radius: 90px;
  height: 30px;
  width: 50vw;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0px 5px;
  flex-shrink: 1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.search-input {
  background-color: transparent;
  width: 80%;
  height: 30px;
  font-size: 14px;
  letter-spacing: 0.1px;
  margin: 0px;
  border-radius: 90px;
  border: none; 

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-button {

  background-color: transparent;
  color: #E67CDA;
  border: none;
  
}

.search-input::placeholder {
    letter-spacing: .3px;
    color: #E67CDA;
    padding: 10px;
}

.fas {
  background-color: transparent;
  color: #E67CDA;
}

.search-input:focus {
  outline:none !important;
}

.search-button:focus {
  outline:none !important;
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {
  .search-form {
    border: 1px solid #E67CDA;
    width: 30vw;
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 1600px) {

  .search-input {
    font-size: 20px;
  }

}