.search-form {
    color: #E67CDA;
    border: 1px solid #E67CDA;
    border-radius: 90px;
    height: 26px;
    max-width: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    width: 200px;
    flex-shrink: 1;
}

 
.search-input {
    background-color: transparent;
    max-width: 30vw;
    height: 10px;
    max-height: 70px;
    font-size: 14px;
    letter-spacing: 0.1px;
    margin: 0px;
    border-radius: 90px;
    border: none;
    
}

.search-input::placeholder {
    letter-spacing: .3px;
    color: #E67CDA;
    padding: 10px;
}

.fas {
  background-color: transparent;
  padding-right: 5px;
  color: #E67CDA;
}

.search-input:focus {
  outline:none !important;
}

.search-button:focus {
  outline:none !important;
}

/* .search-form:focus {
  outline:5px solid purple;
} */


@media only screen and (max-width: 750px) {

  .search-form {
    color: #E67CDA;
    border: 2px solid #E67CDA;
    border-radius: 90px;
    height: 22px;
    max-width: 150px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
    width: 200px;
    flex-shrink: 1;
}

 
.search-input {
    background-color: transparent;
    max-width: 30vw;
    height: 10px;
    max-height: 70px;
    font-size: 14px;
    letter-spacing: 0.1px;
    margin: 0px;
    border-radius: 90px;
    border: none; 
}

}