.products-page-container {
  width: 100vw;
}

.products-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-page-button {

  background: #DB93D3;
  width: 150px;
  height: 35px;
  border-radius: 12px;
  margin: 50px auto;

  color: #FFFFFF;
  font-family: Source Sans Pro;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.75px;
  border: none;

}

@media only screen and (max-width: 750px) {

  .products-page-container {
    position: relative;
    bottom: -75px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .products-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


}