.nav-container {

  flex-grow: 1;
  width: 100%;
  z-index: 5;

}

.desktop-nav {

  max-width: 100%;
  height: 100px;
  padding: 20px 50px;

  z-index: 5;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  
  display: none;

}

.logo-containers {

  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  width: 30vw;
  align-items: center;

}

.logo {

  max-width: 5vw;
  max-height: 50px;
  margin: 18px 30px;

}

.site-name-link {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-content: center;

  text-decoration: none;
  text-decoration-line: none;
  max-width: 25vw;
}

.site-name {
  color: #E67CDA;
  font-size: 18px;
  letter-spacing: -1px;
  min-width: 150px;

}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30vw;
  margin: 18px 0px;

}

.products-link {

  text-decoration: none;
  text-decoration-line: none;
  font-size: 14px;
  color: #E67CDA;
  text-align: right;
  margin: 0px 30px;
}

.add-products-link {

  text-decoration: none;
  text-decoration-line: none;
  font-size: 14px;
  color: #E67CDA;
  text-align: right;
  margin: 0px 30px;

}

.mobile-menu-hidden {
  display: none;
}

.mobile-menu-visible {
  display: none;
}

.mobile-search-menu-hidden {
  display: none;
}

.mobile-search-menu-visible {
  display: none;
}


@media only screen and (max-width: 750px) {

  .nav-container {
    flex-grow: 1;
    width: 100%;
    z-index: 5;  
    
    display: block;
    box-shadow: 0px 1px 10px 0px lightgray;
    
    position: fixed;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav-hidden {
    display: none;
  }


  .mobile-nav-visible {
  
    background: white;
    font: white;
    font-size: 24px;

    max-width: 100%;
    min-height: 75px;
    padding: 0px 25px;

    z-index: 5;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-containers {

    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    min-width: 50vw;
    align-items: center;
    justify-content: center;
  
  }

  .logo {

    max-width: 5vw;
    max-height: 50px;
    margin: 0px 30px;
    display: none;
  
  }

  .site-name-link {
    background-color: transparent;
  
    display: flex;
    justify-content: center;
    align-content: center;
  
    text-decoration: none;
    text-decoration-line: none;
    max-width: 25vw;
    margin: 0px 30px;
  }

  .site-name {
    color: #E67CDA;
    font-size: 24px;
    letter-spacing: -1px;
    min-width: 200px;
  
  }

  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  
  }

  .products-link {

    text-decoration: none;
    text-decoration-line: none;
    font-size: 14px;
    color: #E67CDA;
    text-align: right;

  }

  .mobile-menu-hidden {
    display: none;
  }
  
  .mobile-menu-visible {
    display: block;
    position: relative;
    top: -1;

    background-color: white;

    padding: 10px 25px 10px 25px;

  }

  .mobile-add-products-link, .mobile-products-link {
    min-width: 100vw;
    display: block;

    color: #E67CDA;
    font-size: 18px;
    text-align: left;
    margin: 0px 0px 15px 0px;

    text-decoration: none;
    text-decoration-line: none;
  }

  .mobile-search-menu-hidden {
    display: none;
  }
  
  .mobile-search-menu-visible {
    background: white;
    font: white;
    font-size: 30px;

    max-width: 100%;
    min-height: 75px;
    max-height: 380px;
    padding: 0px 25px;

    z-index: 5;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-logo {

    max-width: 5vw;
    max-height: 75px;
    margin: 0px 0px;
  
  }

}
