.nav-container {
  width: 100vw;
  z-index: 5;
  box-shadow: 0px 1px 10px 0px lightgray;

  position: fixed;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop-nav {
  display: none;
}


.mobile-nav-hidden {
  display: none;
}


.mobile-nav-visible {

  background: white;
  font: white;
  font-size: 24px;

  width: 100%;
  max-width: 100vw;
  height: 75px;
  padding: 0px 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-containers {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;

}

.logo {
  display: none;
}

.site-name-link {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-content: center;

  text-decoration: none;
  text-decoration-line: none;
  width: 100%;
}

.site-name {
  color: #E67CDA;
  font-size: 24px;
  width: 100%;
}

/* MOBILE HAMBURGER MENU CSS BELOW */

.mobile-menu-hidden {
  display: none;
}
  
.mobile-menu-visible {
  display: block;
  position: relative;
  top: -1;

  background-color: white;

  padding: 10px 25px 10px 25px;
}

.mobile-add-products-link, .mobile-products-link {
  min-width: 100vw;
  display: block;

  color: #E67CDA;
  font-size: 18px;
  text-align: left;
  margin: 0px 0px 15px 0px;

  text-decoration: none;
  text-decoration-line: none;
}

/* MOBILE SEARCH NAV CSS BELOW */

.mobile-search-menu-hidden {
  display: none;
}

.mobile-search-menu-visible {
  background: white;
  font: white;
  font-size: 30px;

  width: 100%;
  max-width: 100vw;
  height: 75px;
  max-height: 380px;
  padding: 0px 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-logo {

  width: 20px;
  height: 30px;

}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {
  .nav-container {
    box-shadow: none;
  }
  
  .mobile-nav-visible {
  
    display: none;
  
  }

  .desktop-nav {

    width: 100%;
    max-width: 100vw;
    height: 125px;
    padding: 20px 50px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .logo-containers {
    width: 30vw;
  }
  
  .logo {
    display: block;
    width: 30px;
    height: 50px;
  }
  
  .site-name {
    font-size: 18px;
  }

  .desktop-header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30vw;
  }
  
  .products-link, .add-products-link {
    text-decoration: none;
    text-decoration-line: none;
    font-size: 14px;
    color: #E67CDA;
    text-align: right;
    margin-left: 50px;
  }

  .mobile-menu-hidden,  .mobile-menu-visible, .mobile-search-menu-hidden, .mobile-search-menu-visible {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {

  .site-name {
    font-size: 24px;
  }

  .products-link, .add-products-link {
    font-size: 20px;
    margin-left: 75px;
  }

}
