

nav {
    flex: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    padding: 20px;
    justify-content: space-baround;
    width: 100%;
}

.logo {
    flex: 0;
}
.site-name{
  flex: 1;
  text-align: center;
  font-size: 40px;
  letter-spacing: -3px;
}

.search{
  flex:2;
}
.links {
    flex: 3;
    max-width: 30vw;
    align-items: center;
    font-size: 20px;
    display: flex;
}

.link {
    flex: 1;
}

a {
    text-decoration: none;
    color: pink;
}

